{
  "extends": "nss/node",
  "rules": {
    "no-console": 0,
    "max-len": 0,
    "no-restricted-globals": 0,
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ]
  }
}